@model SportsCenter.Models.Entity.Location

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>確定要刪除嗎?</h3>
@*<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_EngName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_EngName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_ValidFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_ValidFlag)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_ImageName)
        </dd>

    </dl>*@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="EditBackEnd">回場館</a>
    </form>




